.footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 85px;
  font-family: "CabinetGrotesk-Medium", sans-serif;
  font-size: 16px;
}

.footer__date {
  margin: 0;
}
