.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}

.modal__label {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-top: 24px;
}

.modal__input {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  display: block;
  margin-top: 8px;
  width: 440px;
  border-top: 1px;
  border-left: none;
  border-right: none;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.modal__content {
  background-color: white;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  height: 436px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__legend {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding-top: 24px;
}

.modal__radio-buttons {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  border: none;
  padding: 0;
}

.modal__label_type_radio {
  display: flex;
  justify-content: column;
  gap: 8px;
  margin: 8px;
}

.modal__submit {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-top: 32px;
  width: 124px;
  height: 36px;
  cursor: pointer;
  color: white;
  background-color: #000;
  opacity: 0.3;
}
