.modal__image {
  width: 498px;
  height: 498px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.modal__content_type_image {
  height: 610px;
  max-width: 498px;
  padding: 0;
}

.modal__close {
  border: none;
  background-color: transparent;
}

.modal__close-image {
  width: 16px;
  height: 16px;
}

.modal__caption {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 32px;
  margin-bottom: 0;
}

.modal__weather {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-top: 12px;
  margin-left: 32px;
  margin-bottom: 32px;
}
